body {
  background: url("../images/line_blue21.png");
  /*background-size: cover;*/
  color: #46485c;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.cuerpo2{
  background: white;
  height: 100%;
  width: 100%;
}



/*Menu desplegable debajo de banner */

* {
  margin:0px;
  padding:0px;

}

#header {
  margin:0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

ul, ol {
  list-style:none;
  height: 100%;
  width: 100%;
}

ul li ul {
  width: inherit;
}

.nav > li {
    float: left;
    border-top: 2px solid red;
    border-bottom: 2px solid red;

}

.nav li : last-child a{
  border-right: 2px solid red;
}


.nav li a {
  background-color: white;
  color:black;
  text-decoration:none;
  padding:7px 122px;
  display:block;
  margin-top: 2px;
}

.nav li a:hover {
  background-color: red;

}

.nav li ul {
  display:none;
  position:fixed;
  min-width:140px;
}


.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;

}

.nav li ul li ul {
  right:-140px;
  top:0px;
}






/* Curso CSS estilos aprenderaprogramar.com*/
*{
  font-family:sans-serif;
}

hr{
  display:none;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inicio{
  background: none;
  background-color: white;
}

h2 {
  color: white;
  /*color: #46485c;*/
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

a {
  color: #46485c;
  text-decoration: none;
}



.login {
  width:350px;
  position: fixed;
  z-index: 99;
  top: 32%;
  left: 29%;
  margin: -110px 0px 0px -145px;
  background: rgba(192,192,192,0.18);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

input[type="text"], input[type="password"] {
  width: 290px;
  padding: 24px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,4);
  outline: none;
  color: white;
  font-size: 18px;
  text-align: center;
}



label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #9B9EFA;
}


#imagen1{
  width: 23em;
  /*width: 23em; /* en porcentaje (el highlight del foro lo trasforma) */*/
  /*max-width: 300px;*/
  max-height: 500px;

  margin: 2% 0px 0px 600px;

}

img{
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
}


#enviar{
  /*backround: #9B9EFA; */
  /*background: #ace3de;*/
  /*background: #5bc2d3;*/
  background: #9D0F0F;
  border: 0;
  width: 290px;
  height: 40px;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.cap{
  z-index: 99;
}

.loader{
  border: 10px solid #f3f3f3;
  border-radius: 100%;
  border-top: 10px solid #9D0F0F;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 15px 1px 5px 118px;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



input[type="submit"]:hover {
  background: #041311;
  color-text: black;
}



.forgot {
  margin-top: 30px;
  display: block;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}


footer {
  text-align: center;
  color: white;
  left: 80px;
	width: 88%;
	/*height: 1px;*/
	position: absolute;
}


#principal{
  height: 100;
}

#principal2{
  float: none;
  display: inline-block;
  width: auto;
  text-align: left;
}

.menu-principal{
  float: none;
max-width: none;
background: #fff;
border-top: 2px solid #cd171e;
border-bottom: 2px solid #cd171e;
}


.margen1{
    margin: 6% 0em 0em 0em;
    width: 290px;
    position: fixed;
    left: 12%;
    top:8%;
}


::-webkit-input-placeholder {
  color: #46485c;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.2s linear;
  transform: translate(10px, 0);
  opacity: 0;
}
